<div class="gitalk">
	<div id="gitalk-container"></div>
	<script type="text/javascript">
		var gitalkConfig = {
			clientID: '<%=theme.gitalk.client_id%>'
			, clientSecret: '<%=theme.gitalk.client_secret%>'
			, repo: '<%=theme.gitalk.repo%>'
			, owner: '<%=theme.gitalk.owner%>'
			, admin: '<%=theme.gitalk.admin%>'
			, distractionFreeMode: true
			, id: '<%=post.issueId%>'
		};
	</script>
</div>
