<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
<% } %>

<script>
	var yiliaConfig = {
		fancybox: <%=theme.fancybox%>,
		mathjax: <%=theme.mathjax%>,
		animate: <%=theme.animate%>,
		isHome: <%=is_home()%>,
		isPost: <%=is_post()%>,
		isArchive: <%=is_archive()%>,
		isTag: <%=is_tag()%>,
		isCategory: <%=is_category()%>,
		open_in_new: <%=theme.open_in_new%>
	}
</script>
<%- partial('tab-title-change') %>
<%- js('js/require-2.1.6.min') %>
<%- js('js/jquery-2.1.4.min') %>
<%- js('js/main') %>


<%- partial('google-analytics') %>

<% if (theme.mathjax){ %>
<%- partial('mathjax') %>
<% } %>