<div class="overlay"></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="/" class="profilepic">
			<% if (theme.animate){ %>
			<img lazy-src="<%=theme.avatar%>" class="js-avatar">
			<%}else{%>
			<img src="<%=theme.avatar%>" class="js-avatar" style="width: 100%;height: 100%;opacity: 1;">
			<%}%>
		</a>

		<hgroup>
		  <h1 class="header-author"><a href="/"><%=theme.author%></a></h1>
		</hgroup>

		<% if (theme.subtitle){ %>
		<p class="header-subtitle"><%=theme.subtitle%></p>
		<%}%>

		<% if (theme.search.on){ %>
		<form id="search-form">
			<input type="text" id="local-search-input" name="q" placeholder="search..." class="search form-control"
				   autocomplete="off" autocorrect="off" searchonload="<%= theme.search.onload %>" />
			<i class="fa fa-times" onclick="resetSearch()"></i>
		</form>
		<div id="local-search-result"></div>
		<p class='no-result'>No results found <i class='fa fa-spinner fa-pulse'></i></p>
		<%}%>

		<p class="header-subtitle">总计写了<%= totalcount(site) %>字</p>

		<%if(theme.tagcloud){%>
			<div class="switch-btn">
				<div class="icon">
					<div class="icon-ctn">
						<div class="icon-wrap icon-house" data-idx="0">
							<div class="birdhouse"></div>
							<div class="birdhouse_holes"></div>
						</div>
						<div class="icon-wrap icon-ribbon hide" data-idx="1">
							<div class="ribbon"></div>
						</div>
						<%if(theme.friends && theme.friends.length != 0){%>
						<div class="icon-wrap icon-link hide" data-idx="2">
							<div class="loopback_l"></div>
							<div class="loopback_r"></div>
						</div>
						<%}%>
						<%if(theme.aboutme){%>
						<div class="icon-wrap icon-me hide" data-idx="3">
							<div class="user"></div>
							<div class="shoulder"></div>
						</div>
						<%}%>
					</div>
					
				</div>
				<div class="tips-box hide">
					<div class="tips-arrow"></div>
					<ul class="tips-inner">
						<li>菜单</li>
						<li>标签</li>
						<%if(theme.friends && theme.friends.length != 0){%>
						<li>友情链接</li>
						<%}%>
						<%if(theme.aboutme){%>
						<li>捐助本站</li>
						<%}%>
					</ul>
				</div>
			</div>
		<%}%>

		<div class="switch-area">
			<div class="switch-wrap">
				<section class="switch-part switch-part1">
					<nav class="header-menu">
						<ul>
						<% for (var i in theme.menu){ %>
							<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
				        <%}%>
						</ul>
					</nav>
					<nav class="header-nav">
						<div class="social">
							<% for (var i in theme.subnav){ %>
								<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><%= i %></a>
					        <%}%>
						</div>
					</nav>
				</section>
				
				<%if(theme.tagcloud){%>
				<section class="switch-part switch-part2">
					<div class="widget tagcloud" id="js-tagcloud">
						<%- tagcloud() %>
					</div>
				</section>
				<%}%>
				
				<%if(theme.friends && theme.friends.length != 0){%>
				<section class="switch-part switch-part3">
					<div id="js-friends">
					<% for (var i in theme.friends){ %>
			          <a target="_blank" class="main-nav-link switch-friends-link" href="<%- url_for(theme.friends[i]) %>"><%= i %></a>
			        <% } %>
			        </div>
				</section>
				<%}%>

				<%if(theme.aboutme){%>
				<%if(!theme.friends){%>
				<section class="switch-part switch-part3">
				<%}else{%>
				<section class="switch-part switch-part4">
				<%}%>
					<div id="js-aboutme"><%=theme.aboutme%>
					<img src="http://7xkcl8.com1.z0.glb.clouddn.com/ursbzhifubao.png-zfb.jpg" />
					</div>
					
				</section>
				<%}%>
			</div>
		</div>
		<div class="xm">
			<img src="/img/xm.png">
		</div>
	</header>
</div>