.body-wrap{
  margin-bottom: 80px;
}
.article {
  margin: 30px;
  position: relative;
  border: 1px solid #ddd;
  background: #fff;
  -webkit-transition: all 0.2s ease-in;
  &.show{
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
  &.hidden{
    visibility: hidden;
  }
  img{
    max-width: 100%;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.01);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.article-index{
  margin-left: 200px;
  padding: 15px 0;
  margin-right: 75px;
  .brief{
    display: block;
    color: #a8a8a8;
    font-size: 12px;
    line-height: 14px;
    height: 7px;
    padding-left: 2px;
    &:before{
      display: inline-block;
      content: "“";
      font-family: serif;
      font-size: 30px;
      float: left;
      margin: 4px 4px 0 -12px;
      color: #c8c8c8;
    }
  }
}

.article-title {
  color: #696969;
  margin-left: 0px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 20px;
  font-size: 26px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  &:hover{
    color: #B0A0AA;
  }
}

.article-inner{
  position: relative;
  margin-bottom: 20px;
}
.article-header{
  border-left: 5px solid;
  padding: 15px 0px 15px 25px;
}

.article-info.info-on-right{
  margin: 10px 0 0 0;
  float: right;
}
.article-info-index.article-info{
  padding-top: 20px;
  margin: 30px 30px 0 30px;
  border-top: 1px solid #ddd;
}
.article-info-post.article-info{
  padding: 0
  border: none;
  margin: -30px 0 20px 30px;
}
.article-entry{
  line-height: 1.8em;
  padding-right: 30px;
  padding-left: 30px;
  p{
    margin-top: 10px;
  }
  p code,li code{
    padding: 1px 3px;
    margin: 0 3px;
    background: #ddd;
    border: 1px solid #ccc;
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
    word-wrap: break-word;
    font-size: 14px;
  }
  blockquote {
    background: #ddd;
    border-left: 5px solid #ccc;
    padding: 15px 20px;
    margin-top: 10px;
    border-left: 5px solid #657b83;
    background: #f6f6f6;
    p{
      margin-top: 0;
    }
  }
  em {
    font-style: italic;
  }
  ul{
    li:before{
      content: "";
      width: 6px;
      height: 6px;
      border: 1px solid #999;
      border-radius: 10px;
      background: #aaa;
      display: inline-block;
      margin-right: 10px;
      float: left;
      margin-top: 12px;
    }
  }
  ul,ol{
    font-size: 14px;
    margin: 10px 0px;  
  }
  li{
    ul,ol{
      margin-left: 30px;
      li:before{
        content: "";
        background: #dedede;
      }
    }
  }
  h1{
    margin-top: 30px;
  }
  h2{
    margin-top: 20px;
    font-weight: 300;
    color: #574C4C;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }
  h3,h4,h5,h6{
    margin-top: 20px;
    font-weight: 300;
    color: #574C4C;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
  }
  video{
    max-width: 100%;
  }
  strong {
    font-weight: bold;
  }
  .caption{
    display: block;
    font-size: 0.8em;
    color: #aaa;
  }
  hr{
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #FFF;
  }
  pre {
    font-size: 1 / 0.9em;
    line-height: 1.5;
    margin-top: 10px;
    padding: 5px 15px;
    overflow-x: auto;
    color: #657b83;
    font-size: 10px;
    border: 1px solid #ccc;
    text-shadow: 0 1px #444;
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
    code{
      font-size: 14px;
    }
  }
  table{
    width:100%;
    border: 1px solid #dedede;
    margin: 15px 0;
    border-collapse:collapse;
    tr,td{
      height:35px;
    }
    thead{
      tr {
        background: #f8f8f8;
      }
    }
    tbody{
      tr:hover{
        background: #efefef;
      }
    }
    td,th{
      border: 1px solid #dedede;
      padding: 0 10px;
    }
  }
  figure{
    table {
      border: none;
      width: auto;
      margin: 0;
      tbody{
        tr:hover{
          background: none;
        }
      }
    }
  }
}

.article-meta{
  width: 150px;
  font-size: 14;
  text-align: right;
  position: absolute;
  right: 0;
  top: 23px;
  text-align: center;
  z-index: 1;
  time{
    color: #aaa;
    &:before{
      color: #999;
      content: "\f073";
      font: 17px FontAwesome;
      margin-right: 10px;
    }
  }
}

.article-more-link{
  margin-top: 5px;
  text-align: right;
  a{
    background: #4d4d4d;
    color: #fff;
    font-size: 12px;
    padding: 2px 8px 4px;
    line-height: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transition: background 0.3s;
    &:hover{
      background: #3c3c3c;
    }
    &.hidden{
      visibility: hidden;
    }
  }
}

#article-nav{
  margin: 80px 0 30px 0;
  padding-bottom: 10px;
  .article-nav-link-wrap{
    margin: 0px 30px 0px 30px;
    font-size: 14px;
    color: #333;
    .article-nav-title{
      display: inline-block;
      font-size: 12px;
      color: #aaa;
      transition: color 0.3s;
    }
    strong{
      background: #ddd;
      color: #fff;
      border-radius: 100%;
      width: 15px;
      height: 15px;
      display: inline-block;
      text-align: center;
      transition: background 0.3s;
    }
    &:hover{
      strong{
        background: #4d4d4d;
      }
      .article-nav-title{
        color: #4d4d4d;
      }
    }
  }
  #article-nav-older{
    float: right;
  }
}

.copyright {
    width: 85%;
    max-width: 45em;
    margin: 1.2em auto 0;
    padding: .5em 1.8em;
    border: 1px solid lightgray;
    font-size: .93em;
    line-height: 1.6em;
    word-break: break-all;
    background: rgba(255, 255, 255, .4);
    span {
        display: inline-block;
        width: 5.8em;
        color: #B5B5B5;
        font-weight: bold;
    }
    a {
        color: gray;
        &:hover {
            color: #a3d2a3;
            text-decoration: underline;
        }
    }
    &:hover .fa-clipboard {
        color: black;
    }
    .copy-path {
        margin-left: 1em;
        &:hover {
            color: gray;
            cursor: pointer;
        }
    }
}



/*MOxFIVE's color schemes*/
.article .article-inner{
  margin-bottom: 0px;
  padding-bottom: .5em;
}

.article {
  background: rgba(255,255,255,.4);
  border: none;
}

.copyright {
  background-color: rgba(255,255,255,.3);
}

#article-nav {
  background-color: rgba(158, 188, 226, .6);
}

.article-entry blockquote {
  background: rgba(255,255,255,0.4);
/*  border-left: 4px solid #cbe8f7;*/
}
li:hover {
      background: rgba(158, 188, 226, .21);
}

#toc {
  background: none;
}

#tocButton {
  background: none;
}

/*.article-entry .highlight {
  background: none;
}*/

.article-entry > ol:last-child > li:nth-child(2n) {
    background: rgba(158, 188, 226, .12);
    &:hover {
      background: ;
    };
  };
 .article-entry h3 {
    background: rgba(243, 248, 253, .6)
    &::after {
      content: "";
    };
}

.like {
	display: block;
	height: 86px; 
	width: 312px; 
	font-family: "Avenir Next",Helvetica,Arial,"Lantinghei SC","Microsoft YaHei",sans-serif;
	background: #fff;
	padding: 15px;
	margin: 20px auto;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.article img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}