.gitalk {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.gt-link-counts, .gt-header-controls-tip {
  color: #808080!important;
  border-bottom: 1px dotted #808080!important;
  &:hover {
    color: #a3d2a3!important;
    border-bottom: 1px dotted #a3d2a3!important;
  }
}
.gt-svg svg {
  fill: #009688!important;
}