.left-col {
    display: none;
}
.mid-col {
    left: 0;
}
#header{
    .header-nav{
        position: relative;
    }
}
.header-author{
    &.fixed{
        position: fixed;
        top: -13px;
        width: 100%;
        color: #ddd;
    }
}
.overlay{
    .slider-trigger{
        position: absolute;
        z-index: 101;
        bottom: 0;
        left: 0;
        width: 42px;
        height: 42px;
        &:hover{
            background: #444;
        }
        &:before{
            color: #ddd;
            content: "\f00b";
            font: 16px FontAwesome;
            width: 16px;
            height: 16px;
            margin-left: 9px;
            margin-top: 14px;
            display: block;
        }
    }
}
.article-header{
    border-left: none;
    padding: 0;
    border-bottom: 1px dotted #ddd;
    h1{
        margin-bottom: 10px;
    }
}
.header-subtitle{
    padding: 0 24px;
}

.article-info-index.article-info{
  padding-top: 10px;
  margin: 0;
  border-top: 1px solid #ddd;
}
.article-info-post.article-info{
    margin: 0;
    padding-top: 10px;
    border: none;
}
.article-more-link{
    a{
        float:right;
    }
}
#viewer-box .viewer-box-l{
    font-size: 14px;
}
.article{
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    .article-entry{
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }
    .article-title{
        font-size: 18px;
        max-width: 185px;
        display: block;
        margin: 0;
    }
    .article-meta{
        width: auto;
        height: 30px;
        margin-top: -5px;
        position: ralative;
        .article-date{
            font-size: 12px;
            border-radius: 0;
            color: #666;
            background: none;
            height: auto;
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: left;
            margin-left: 10px;
            time{
                width: auto;
                float: right;
                margin-right: 10px;
            }
        }
        .article-tag-list{
            margin-top: 7px;
            position: absolute;
            right: 10px;
            top: 0;
            &:before{
                float: left;
                margin-top: 1px;
                left: 0;
            }
            .article-tag-list-item{
                float: left;
                padding-left: 0;
                width: auto;
                max-width: 83px;
            }
        }
        .article-category{
            margin-top: 7px;
            position: absolute;
            right: 10px;
            top: -30px;
            &:before{
                float: left;
                margin-top: 1px;
                left: 15px;
            }
            .article-category-link{
                max-width: 83px;
                width: auto;
                padding-left:10px;
            }
        }
    }
    .article-nav-link-wrap{
        margin: 5px 0;
        strong{
            float: left;
            margin-right: 5px;
        }
    }
    #article-nav-older{
        float: none;
        display: block;
    }
}
.share{
    padding: 3px 10px;
}
.duoshuo {
    padding: 0 13px;
}
#disqus_thread {
    padding: 0 13px;
}

#mobile-nav{
    display: block;
}

#page-nav .extend{
    opacity: 1;
}

.instagram .open-ins{
    left: 2px;
    top: -30px;
    color: #aaa;
}
.info-on-right{
    float: initial;
}
.archives-wrap{
    margin: 10px 10px 0px;
    padding: 10px;
    .archive-article-title{
        font-size: 14px;
    }
    .archive-year-wrap{
        position: relative;
        padding: 0 0 0 0;
        a{
            padding: 0 0 0 0;
        }
    }
    .article-meta{
        .archive-article-date{
            font-size: 12px;
            margin-right: 10px;
            margin-top: -5px;
        }
        .article-tag-list-link{
            font-size: 12px;
        }
    }
}
.archives{
    .archive-article{
        padding: 10px 0;
        margin-left: 0;
    }
}

#footer {
    .footer-left{
        float: initial;
        margin-bottom: 10px;
    }
    .footer-right{
        float: initial;
    }
}
.copyright {
 	margin: 0 0.5em;
 	padding: .5em 1.3em;
} 